.blog-container {
  width: 50%;
  height: 100%;
  margin: 0em auto;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 1em;
  margin-top: 20%;
  padding: 2em;
  position: relative;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.image img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.head-data {
  text-transform: capitalize;
  height: 10em;
  padding: 2em 1em;
}

#blogs {
  margin: 3em;
}

.btn-grp {
  position: absolute;
  right: 5em;
  top: 5em;
}

.btn-grp button:first-child {
  margin-right: 1em;
}

.btn-grp button:nth-child(2) {
  background-color: rgba(255, 0, 0, 0.24);
  border: red solid 2px;
  color: red;
}
